<div ng-non-bindable="">
    <!-- begin table -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Device ID</th>
          <th>Vehicle Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{marker.details.name.value || "n/a"}}</td>
          <td>{{marker.details.number.value || "n/a"}}</td>
          <td>{{marker.details.deviceId.value || "n/a"}}</td>
          <td>{{marker.details.vehicleType.value || "n/a"}}</td>
        </tr>
      </tbody>
    </table>
    <!-- end table -->
    <!--a type="button" class="btn btn-success" href="#/onlineOrders" ng-click="vm.viewDeliveryOrders(marker.details.deviceId.value)">View orders details</a-->
</div>

</div>