<div class="col-xs-12 mrgt13">
    <div class="row">
        <div class="col-sm-6">
            <scriptr-date-time-picker
                                      type="range"
                                      start-date-config="{ startView:'day', minView:'day' }"
                                      end-date-config="{ startView:'day', minView:'day' }"
                                      start-date-class = "col-xs-12 col-sm-6"
                                      end-date-class = "col-xs-12 col-sm-6"
                                      start-date-on-set-time="vm.localOrdersStartDateOnSetTime"
                                      end-date-on-set-time="vm.localOrdersEndDateOnSetTime"
                                      >
            </scriptr-date-time-picker> 
        </div>
    </div>
</div>
<scriptr-grid 
              columns-definition='vm.localOrdersColDef' 
              enable-sorting='true'
              default-cell-renderer="vm.defaultCellRenderer"   
              api='management/api/getAllLocalOrders'  
              grid-height="500"
              pagination="true"
              msg-tag="local-orders-grid"   
              enable-col-resize="true"   
              suppress-filter='true'
              cell-editable='false'
              enable-client-side-filter='false'
              suppress-filter='false'
              enable-server-side-filter='true' 
              enable-server-side-sorting='true'
              row-model-type='infinite'
              row-model-selection='multiple'
              pagination-page-size='20'
              enable-delete-row='false'
              transport='wss'>
</scriptr-grid>