<style>

    .btn-upload {
        background: green;
    }
</style>

<div style="margin-top:60px;">
    <scriptr-grid columns-definition='vm.manageMenuColDef' 
                  api='management/api/categories'
                  default-cell-renderer="vm.defaultCellRenderer"   
                  msg-tag="menu-grid"   
                  add-label="Add"
                  delete-label="Delete"
                  enable-delete-row='true'
                  on-add-row-click="vm.onAddRowClick"
                  row-height="40"   
                  row-model-type='infinite'
                  pagination="true"
                  grid-height='calc(100vh - 109px)'
                  enable-col-resize="true"     
                  enable-add-row='true'
                  cell-editable='true'
                  enable-client-side-filter='true'
                  enable-server-side-filter='true' 
                  enable-client-side-sorting='false'
                  enable-server-side-sorting='true'
                  row-model-selection='multiple'
                  on-publish="vm.onPublish"
                  on-promotion="vm.onPromotion"
                  on-cell-clicked='vm.manageMenuSelectionChanged'
                  pagination-page-size='50'
                  transport='https'>
    </scriptr-grid>
</div>