<scriptr-grid columns-definition='vm.manageMenuColDef' 
              api='management/api/getMenu'
              default-cell-renderer="vm.defaultCellRenderer"   
              msg-tag="menu-grid"   
              enable-delete-row='true'
              row-height="30"   
              row-model-type='infinite'
              pagination="true"
              grid-height='calc(100vh - 109px)'
              enable-col-resize="true"     
              enable-add-row='true'
              cell-editable='true'
              enable-client-side-filter='true'
              enable-server-side-filter='true' 
              enable-client-side-sorting='false'
              enable-server-side-sorting='true'
              row-model-selection='multiple'
              on-cell-clicked='vm.manageMenuSelectionChanged'
              pagination-page-size='50'
              transport='https'>
</scriptr-grid>