<div>
    <div class="row mrg5">
        <div class="col-xs-12 col-sm-4">
            <div class="input-group">
             <scriptr-autocomplete
                                  id="clientsList"                
                                  placeholder="Track delivery by id"
                                  pause="400"
                                  class=""
                                  search-fields="deviceId"
                                  title-field="deviceId"
                                  description-field="deviceId"                
                                  minlength="0"
                                  image-field="pic"
                                  text-no-results="No results"                
                                  text-searching="Searching..."
                                  image-field="img"
                                  transport="wss"
                                  msg-tag="vm.deliveryDevice" 
                                  api="management/api/getDeliveryMotors"
                                  selected-object="vm.onDeliveryDeviceSet"   
                                  input-class="form-control form-control-small">
            </scriptr-autocomplete>
            </div>
        </div>   
    </div>
    <div>
        <scriptr-map
                     default-center="33.888630,35.495480"
                     sources-info="vm.sources"
                     clustered-view="true"
                     cluster-zoom="8"
                     path-stroke-opacity="0.5"
                     path-stroke-weight="10"
                     summary-icons="vm.icons"
                     msg-tag="position"
                     geofence-manager="false"
                     focused-marker-zoom="15"
                     detailed-zoom-min="14"
                     on-select-asset="vm.onSelectAsset">
            <div>
                <info-window
                             id="infoWindowTemplate_simulator"
                             template="/management/templates/info_simulator.html"
                             max-width="600">
                </info-window>
                <info-window id="infoWindowTemplate_stream"
                             template="/UIComponents/dashboard/frontend/examples/map/info_stream.html"
                             max-width="300">
                </info-window>
            </div>
        </scriptr-map>
    </div>
</div>
