<style>
    
    .angucomplete-dropdown {
        width: 200px!important;
    }
    
    .set-filter-width{
        width: 200px;
    }
    
</style>

<div class="col-xs-12 mrgt13">
    <div class="row">
        
        <div class="col-sm-2 mrgr20">
            <div class="input-group set-width">
                <scriptr-autocomplete
                                      id="ordersList"                
                                      placeholder="Filter by status"
                                      pause="400"
                                      search-fields="id"
                                      title-field="label"
                                      description-field="description"                
                                      minlength="0"
                                      local-data="vm.showOnlyData"
                                      text-no-results="No results"                
                                      text-searching="Searching..."
                                      image-field="img"
                                      transport="wss"
                                      selected-object="vm.onSelectShowOnly"   
                                      input-class="form-control form-control-small">
                </scriptr-autocomplete>
            </div>
        </div>  
        
        <div class="col-sm-6">
            <scriptr-date-time-picker
                                      type="range"
                                      start-date-config="{ startView:'day', minView:'day' }"
                                      end-date-config="{ startView:'day', minView:'day' }"        
                                      start-date-class = "col-xs-12 col-sm-6"
                                      end-date-class = "col-xs-12 col-sm-6"
                                      start-date-on-set-time="vm.ordersStartDateOnSetTime"
                                      end-date-on-set-time="vm.ordersEndDateOnSetTime"
                                      >
            </scriptr-date-time-picker> 
        </div>
        
           <!--div class="col-sm-2">
            <div class="input-group">
                <scriptr-autocomplete
                                      id="deliveryFilter"                
                                          placeholder="Filter by delivery"
                                          pause="400"
                                          class=""
                                          search-fields="name,deviceId"
                                          title-field="name,deviceId"
                                          description-field="vehicleType"                
                                          minlength="0"
                                          image-field="pic"
                                          text-no-results="No results"                
                                          text-searching="Searching..."
                                          image-field="img"
                                          transport="https"
                                          api="management/api/getDeliveryMotors"
                                          on-format-data="vm.onDeliveryFilterData"
                                          selected-object="vm.onDeliveryfilterSet"   
                                          input-class="form-control form-control-small">
                </scriptr-autocomplete>
            </div>
        </div--> 
    </div>
</div>
<scriptr-grid 
              columns-definition='vm.onlineOrdersColDef' 
              enable-sorting='true'
              default-cell-renderer="vm.defaultCellRenderer"   
              api = 'management/api/getOrders'
              api-params='vm.gridParams'   
              grid-height='calc(100vh - 166px)'
              pagination="true"
              msg-tag="orders-grid"   
              enable-col-resize="true"   
              suppress-filter='true'
              cell-editable='true'
              row-height='30'
              enable-client-side-filter='true'
              suppress-filter='false'
              enable-server-side-filter='true' 
              enable-server-side-sorting='true'
              row-model-type='infinite'
              row-model-selection='multiple'
              pagination-page-size='20'
              enable-delete-row='false'
              on-cell-clicked='vm.onSelectionChanged'  
              transport='wss'>
</scriptr-grid>