<div class="col-xs-12 mrgt13" ng-show="vm.showError"><div class="alert" ng-class="'alert-' + ( vm.message.type || 'warning')">{{vm.message.content}}</div></div>
<scriptr-grid columns-definition='vm.promotionColDef' 
           api='management/api/getPromotions'
           enable-delete-row='true'
           row-model-type='virtual'
           pagination="true"   
           row-height="30"   
           grid-height='calc(100vh - 109px)'
           enable-add-row='true'
           cell-editable='true'
           default-cell-renderer="vm.defaultCellRenderer"      
           enable-client-side-filter='true'
           enable-col-resize="true"    
           enable-server-side-filter='true' 
           enable-client-side-sorting='false'
           enable-server-side-sorting='true'
           on-format-data="vm.onPromotionFormatData"   
           row-model-selection='multiple'
           pagination-page-size='50'
           on-cell-clicked='vm.promotionOnCellClicked'   
           transport='https'>
  </scriptr-grid>