<div class="mrg5" ng-show="vm.showError"><div class="alert" ng-class="'alert-' + ( vm.message.type || 'warning')">{{vm.message.content}}</div>
</div>
<scriptr-grid 
              columns-definition='vm.reservationColDef' 
              api='management/api/getReservations'
              default-cell-renderer="vm.defaultCellRenderer"   
              msg-tag="reservation-grid"   
              enable-delete-row='false'
              row-model-type='infinite'
              pagination="true"
              server-filter-label='Search for client'
              grid-height="500"
              enable-add-row='false'
              cell-editable='false'
              enable-client-side-filter='true'
              enable-server-side-filter='false' 
              enable-client-side-sorting='false'
              enable-server-side-sorting='true'
              on-cell-clicked='vm.confirmReservationSelectionChanged'  
              row-model-selection='multiple'
              pagination-page-size='50'
              transport='wss'>
</scriptr-grid>